body {
    margin: 0;
    padding: 0;
    background: url("moviebackground.jpg") no-repeat center/cover;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
    height: 100vh;
}

#heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b7dff3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    z-index: 100;
    box-sizing: border-box;
}

#heading input {
    width: 200px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    display:flex;
}

#heading nav {
    display: flex;
    align-items: center;
}

#heading nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    z-index: 3;
}

.main-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    position: relative;
    z-index: 2;
    align-items: flex-start;
}

.main-section, #heading {
    position: relative;
    z-index: 2;
}


.left-box h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.big-search {
    padding: 15px 25px;
    width: 300px;
    border-radius: 30px;
    border: none;
    background-color: #a0cde4;
}

/* RIGHT CONTENT */
.right-box h1 {
    font-size: 28px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    max-width: 460px;
    align-items: flex-start;
}

.movies img {
    width: 140px;
    border-radius: 12px;
}

.overlay {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 1;
    pointer-events: none;
    height: 1200px;
}

