body {
    background-image: url('../moviebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    position: relative;
    margin-top: 70px;
    z-index: 2;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    pointer-events: none;
}

#heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b7dff3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    z-index: 100;
    box-sizing: border-box;
}

#heading input {
    width: 200px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    display:flex;
}

#heading nav {
    display: flex;
    align-items: center;
}

#heading nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    z-index: 3;
}
